form(action='/login', method='POST')
  .control-group
    .controls
      input(type='text', name='username', placeholder='Username')
  .control-group
    .controls
      input(type='text', name='password', placeholder='Password')
  .control-group
    button.btn.btn-primary(type="submit") Login
