body {
  padding: 60px 10px 40px 15px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.required {
  color: darkred
}

ul#activities-invalid, ul#activities-valid, ul#activities-query-valid, ul#activities-query-invalid {
  list-style: none;
  margin: 0;
  padding: 0;

}

.page {
  display: none;
}
